@use './variables';

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 57px;

  &__list {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 40px;
  }

  &__menu--mobile {
    display: none;
  }

  &__list--mobile{
    display: none;
    position: absolute;
  }

  &__item {
    list-style: none;

    a {
      text-decoration: none;
      color: $darkest-grey;
    }

    a:hover {
      color: $orange;
    }
  }

  &__icon{
    display: none !important;

    &--close {
      display: none;
    }
  }
}

@media screen and (max-width: 1150px) {
  .nav {
    padding-bottom: 2em;
    overflow: hidden;

    &__list {
      display: none;
    }
  
    &__menu--mobile {
      display: block;
    }

    &__list--mobile {
      position: absolute;
      display: flex;
      gap: 40px;
      padding: 170px 170px 0 30px;
      flex-direction: column;
      position: absolute;
      right: 0;
      top: 0;
      height: 100vh;
      background-color: $white;
      z-index: 1;
      transform: translateX(100%);
      transition: all .2s ease;

      li {
        font-size: 1.2em;
        a {
          color: black;
        }
      }
    }
    
    &__icon{
      display: block !important;
      cursor: pointer;
      z-index: 1;
      transition: all .2s ease;
      position: absolute;
      right: 20px;
    }

    &__icon--close {
      display: none;
      cursor: pointer;
      z-index: 2;
      transition: all .2s ease;
      position: absolute;
      right: 20px;
    }

    &__black {
      display: none;
      background-color: rgba(0, 0, 0, 0.364);
      width: 100vw;
      height: 186vh;
      position: absolute;
      top: 0;
      left: 0;
      transition: all .2s ease;
    }
  }
}